@model MusicShop.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Nie pamiętasz hasła?";
}
<div id="" class="koszyk-a width-search-sitemap pad-sm border koszyk-sm-mg edit-width bg-light">
    <a class="anchor-edit" href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>
<div style="margin: 6%; text-align:center;">
    <h2>Nie pamiętasz hasła?</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Wprowadź adres e-mail, a zostanie na niego wysłany link resetujący hasło.</h4>
        <hr style="width:50%;" />

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <table style="margin:auto;">
            <tr>
                <td> @Html.LabelFor(m => m.Email, new { @class = "" })</td>
                <td style="padding-bottom:5px;">  @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "width:105%;" })</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center; padding-left: 35%;">

                    <button type="submit" class="btn btn-outline-secondary">Wyślij</button>
                </td>
            </tr>
        </table>
    }
</div>
@section Scripts
        {
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
