@model MusicShop.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle
{
    Zaloguj się
}

<div class="txt-ct-mgbt">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        //Helper zabezpieczalogowanie z innej strony
        @Html.AntiForgeryToken()

        <div id="login-error" class="account-validation-message2" style="margin-bottom: 1%;">
            @Html.ValidationMessage("loginerror", "")
        </div>

        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td class="td-lab-ed">@Html.LabelFor(o => o.Email, "E-mail:", new { @class = "control-label" })</td>
                <td class="td-val-lab2">
                    @Html.TextBoxFor(o => o.Email, new { style="width: 210px;", @class = "form-control" })
                </td>

            </tr>
            <tr>
                <td colspan="2" class="td-val-lab2" style="width:320px;  padding-left: 35px; padding-right: 35px;">
                    <div class="login-validation-message" style="text-align:center;">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-lab-ed">@Html.LabelFor(o => o.Password, "Hasło:")</td>
                <td class="td-val-lab2">
                    @Html.PasswordFor(o => o.Password, new { style = "width: 210px;", @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td colspan="2" class="td-val-lab2" style="width:320px;  padding-left:110px;">
                    <div class="login-validation-message" style="text-align:center;">
                        @Html.ValidationMessageFor(o => o.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="custom-control custom-checkbox" style="margin-bottom:5px;">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked", @class = "custom-control-input", @id = "materialUnchecked" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label", @for = "materialUnchecked" })
                    </div>
                    <button type="submit" class="btn btn-outline-secondary">Zaloguj</button>
                    @*<input type="submit" value="Zaloguj" class="submitLink" style="height: 40px;" />*@
                </td>
            </tr>
        </table>
    
        <div class="koszyk-a" style="text-align: center;">

            <a href="@Url.Action("Register")">Nie mam jeszcze konta</a>
            @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
