@model MusicShop.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Resetuj hasło";
}
<div id="" class="koszyk-a width-search-sitemap pad-sm border koszyk-sm-mg edit-width bg-light">
    <a class="anchor-edit" href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>
<div style="text-align:center; margin:5%;">

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1>Zresetuj swoje hasło</h1>
        <hr style="width: 35%;" />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <table style="margin: auto;">
            <tr>
                <td style="text-align:end;">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                </td>
                <td  style="padding-bottom:5px;">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </td>
            </tr>
<tr>
    <td style="text-align:end;"> 
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
    </td>
    <td  style="padding-bottom:5px;">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </td>
</tr>
<tr>
    <td style="text-align:end;">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
    </td>
    <td  style="padding-bottom:5px;">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align:center; padding-left: 35%;">
        <button type="submit" class="btn btn-outline-secondary">Resetuj</button>
    </td>
</tr>

        </table>
    }
</div>
@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}